<div class="list-calculator">
    <p class="body-1" id="descr-textfield">Zutaten für</p>
    <div class="text-field-btn">
        <input class="text-field" id="number-portion-rec-1" type="number" min="1" placeholder="1"><button onclick="addPortionRecipe1()" class="btn body-1-btn">Portionen</button>
    </div> 
</div>

<!-- ingredient table -->
<table class="list-ingredient">
    <tbody>
        <!-- ingredient 1 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-1-rec-1">200 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Schmand</p>
            </td>
        </tr>
        <!-- ingredient 2 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-2-rec-1">50 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Salami</p>
            </td>
        </tr>
        <!-- ingredient 3 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-3-rec-1">100 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Geriebenen Käse</p>
            </td>
        </tr>
        <!-- ingredient 4 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-4-rec-1">1</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Paprika</p>
            </td>
        </tr>
        <!-- ingredient 5 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-5-rec-1">1 El</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Paprikapulver (Edelsüß)</p>
            </td>
        </tr>
        <!-- ingredient 6 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-6-rec-1">4</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Aufbackbrötchen</p>
            </td>
        </tr>
    </tbody>
</table>

