<div class="list-calculator">
    <p class="body-1" id="descr-textfield">Zutaten für</p>
    <div class="text-field-btn">
        <input class="text-field" id="number-portion-rec-0" type="number" min="1" placeholder="1"><button onclick="addPortionRecipe0()" class="btn body-1-btn">Portionen</button>
    </div> 
</div>

<!-- ingredient table -->
<table class="list-ingredient">
    <tbody>
        <!-- ingredient 1 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-1-rec-0">125 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Weizenmehl (Type 65 oder 550)</p>
            </td>
        </tr>
        <!-- ingredient 2 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-2-rec-0">12.5 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Zucker</p>
            </td>
        </tr>
        <!-- ingredient 3 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-3-rec-0">0.25</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Ei (Größe M)</p>
            </td>
        </tr>
        <!-- ingredient 4 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-4-rec-0">2.5 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Hefe</p>
            </td>
        </tr>
        <!-- ingredient 5 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-5-rec-0">4 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Butter</p>
            </td>
        </tr>
        <!-- ingredient 6 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-6-rec-0">2.5 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Salz</p>
            </td>
        </tr>
        <!-- ingredient 7 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-7-rec-0">52.5 ml</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Wasser</p>
            </td>
        </tr>
        <!-- ingredient 8 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-8-rec-0">56.25 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Butter</p>
            </td>
        </tr>
        <!-- ingredient 9 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-9-rec-0">6.25 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Mehl (Ihrer Wahl)</p>
            </td>
        </tr>
    </tbody>
</table>

