<div class="list-calculator">
    <p class="body-1" id="descr-textfield">Zutaten für</p>
    <div class="text-field-btn">
        <input class="text-field" id="number-portion-rec-2" type="number" min="1" placeholder="1"><button onclick="addPortionRecipe2()" class="btn body-1-btn">Portionen</button>
    </div> 
</div>

<!-- ingredient table -->
<table class="list-ingredient">
    <tbody>
        <!-- ingredient 1 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-1-rec-2">150 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Pasta</p>
            </td>
        </tr>
        <!-- ingredient 2 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-2-rec-2">1 El</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Olivenöl</p>
            </td>
        </tr>
        <!-- ingredient 3 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-3-rec-2">2</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Knoblauchzehen</p>
            </td>
        </tr>
        <!-- ingredient 4 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-4-rec-2">1</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Zwiebel</p>
            </td>
        </tr>
        <!-- ingredient 5 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-5-rec-2">50 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Cherrytomaten</p>
            </td>
        </tr>
        <!-- ingredient 6 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-6-rec-2">30 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Kapern</p>
            </td>
        </tr>
        <!-- ingredient 7 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-7-rec-2">1 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Tomatenmark</p>
            </td>
        </tr>
        <!-- ingredient 8 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-8-rec-2">1 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Zucker</p>
            </td>
        </tr>
        <!-- ingredient 9 -->
        <tr class="ingredient">
            <td class="ingr-left">
                <p class="body-1-bold" id="result-ingr-9-rec-2">1 g</p>
            </td>
            <td class="ingr-right">
                <p class="body-1">Salz</p>
            </td>
        </tr>
    </tbody>
</table>

