<dic class="footer">
    <div class="footer-row1">
        <img class="footer-logo" src="/img/logo/logo_small.png" alt="kochwelt logo">
        <div class="footer-social-media">
            <a href=""><img class="social-media" src="/img/socials/fb-icon.png" alt="facebook icon"></a>
            <a href=""><img class="social-media" src="/img/socials/ins-icon.png" alt="instagram icon"></a>
            <a href=""><img class="social-media" src="/img/socials/tw-icon.png" alt="twitter icon"></a>
        </div>
    </div>
    <div class="footer-row2">
        <a class="footer-tab" href="#">© Copyright</a>
        <a class="footer-tab" href="/impressum.html">§ Impressum</a>
        <a class="footer-tab" href="/dsgvo.html">® Datenschutz</a>
    </div>
</div>
