<div class="header">
    <div class="header-logo">
        <a href="/start-index.html"><img src="/img/logo/logo.png" alt="kochwelt logo"></a>
    </div>
    <div class="header-logo-small">
        <a  id="logo-small" href="/start-index.html"><img src="/img/logo/logo_small.png" alt="Kochwelt Logo Small"></a>
    </div>
    <div class="header-nav-bar">
        <a class="header-tab" href="/start-index.html" >Start</a>
        <a class="header-tab" href="/recipe0-index.html">Rezept des Tages</a>
        <a class="header-tab" href="/contact-us.html">Kontakt</a>
        <a class="header-tab" href="/impressum.html">Impressum</a>
    </div>
    <div class="menu-icon">
        <img src="/img/icons/menu_FILL0_wght400_GRAD0_opsz48.svg" alt="menu">
    </div>
</div>
