<div class="vs">
    <h2 class="section-header-center">Pfanne vs. Wok - Was ist besser?</h2>
    <!-- comparison -->
    <div class="comparison">
        <p class="body-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt cumque adipisci molestias, obcaecati perspiciatis repellat aperiam pariatur maiores doloremque, eligendi atque quas dignissimos quaerat aspernatur dolor. Repellendus reiciendis ad laborum.</p>
        <img class="recipe-whats-new-img" src="/img/recipes/wok.jpg" alt="Wok">
    </div>
</div>