<div class="whats-new"> 
    <h2 class="section-header-center">Lust auf was Neues?</h2>
    <div class="recipes">
        <!-- recipe 1 -->
        <div class="recipe">
            <a class="img-link" href="/recipe1-index.html"><img class="recipe-whats-new-img" src="/img/recipes/pizza-broetchen.jpg" alt="pizza broetchen"></a>
            <p class="body-1"><b>Pizza Brötchen</b></p>
        </div>
        <!-- recipe 2 -->
        <div class="recipe">
            <a class="img-link" href="/recipe2-index.html"><img class="recipe-whats-new-img" src="/img/recipes/pasta.jpg" alt="pasta pomodoro"></a>
            <p class="body-1"><b>Pasta Pomodoro</b></p>
        </div>
        <!-- recipe 3 -->
        <div class="recipe">
            <a class="img-link" href="/recipe3-index.html"><img class="recipe-whats-new-img" src="/img/recipes/chilli_con_carne_composition.jpg" alt="chilli con carne"></a>
            <p class="body-1"><b>Chilli con Carne</b></p>
        </div>
    </div>
</div>